.search-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 24px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  background: #000;
  color: #fff;
}

.search-page h1 {
  margin: 0 auto;
  color: #fff;
}

.error-message {
  color: #d32f2f;
}

